.main-nav
	background: #333
	width: 100%

	a
		border-right: 1px solid #666
		color: #eee
		display: inline-block
		font-weight: 600
		padding: 15px
		text-decoration: none

	li
		display: inline

	.logo
		color: #a98
		font-weight: bold
		text-decoration: none

		.monogram
			float: left
			transform: rotate(270deg);
